body {

	background: #232326;

}

h1 {

	color: #FFF;
	font-family: "Lucida Console", Monaco, monospace;
	text-align: center;
	margin: 20px;
	font-size: 30pt;

	text-shadow: 2px 2px 4px #222;

}

.small-text {
	
	font-family: 'Josefin Sans', sans-serif;
	font-size: 10pt;
	
	margin-top: 6px;
	margin-bottom: 2px;
	
}

.footer {
	
	position: fixed;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.1);
	
	display: block;
	
	margin: 0px;
	padding: 2px;
	
	font-family: 'Josefin Sans', sans-serif;
	font-size: 10pt;
	
	bottom: 0;
	left: 0;
	
	color: #000;
	text-align: center;
	
}

#board {
	
	border-radius: 10px;
	 
	
	position: absolute;
    left: 0;
    right: 0;
    margin:auto;
	
	border: 4px outset #202020;
	
	background: #545454;
	
	margin-top: 20px;
	
}

#button-container {
	
	margin-top: 650px;
	
}

#rules {
	
	float: none;
	display: block;
	
	margin-top: 4px;
	
	margin-left: auto;
	margin-right: auto;
	
	border-radius: 2px;
	
}

.big-button {

	border-radius: 14px;

	float: none;
    display: block;
    margin: 10px auto;

	margin-top: 6px;

	padding: 4px;
	width: 6rem;
	
	text-align: center;

}